$component: '.banner-sidebar';

#{$component} {
    margin-bottom: 2em;
    text-align: center;

    img {
        max-width: 100%;
        width: 100%;
    }

    &__container {
      @include mq($until: mobile) {
        display: none;
      }

      &--mobile {
        display: none;

        @include mq($until: mobile) {
          display: block;
        }
      }
    }
}