$component: '.banner-content';

#{$component} {
    margin: 0 auto;
    margin-bottom: 2em;
    max-width: 768px;
    text-align: center;

    @include mq($until: mobile) {
        margin-left: -15px;
        margin-right: -15px;
    }

    &__container {
        @include mq($until: mobile) {
            display: none;
        }

        &--mobile {
            display: none;

            @include mq($until: mobile) {
                display: block;
            }
        }
    }

    img {
        max-width: 100%;
        width: 100%;
    }
}