html,
body {
    -webkit-overflow-scrolling: touch;
    height: 100%;
    max-width: 100vw;

    @include mq($until: mobile) {
        overflow-x: hidden;
    }
}

img {
    height: auto;
    max-width: 100%;
}