$layout: '.content';

#{$layout} {
    padding-bottom: 2em;

    &__container {
        margin: 0 auto;
        max-width: 890px;
    }

    &__entry-title {
        margin-bottom: 1rem;
    }

    &__head {
        color: $primary-color;
        margin-bottom: 1rem;

        &--3,
        &--4,
        &--5,
        &--6 {
            color: $gray-darker;
        }
    }

    &__paragraph {
        &--iframe {
            position: relative;
            overflow: hidden;
            padding-top: 56.25%;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 0;
            }
        }
    }

    &__list {
        list-style: none;
        margin-bottom: 2em;

        &--bullets {
            #{$layout}__list-item {
                &:before {
                    color: $primary-color;
                    content: '-';
                    left: -0.5em;
                    position: absolute;
                }
            }
        }

        &--numbers {
            counter-reset: number-counter;

            #{$layout}__list-item {
                counter-increment: number-counter;

                &:before {
                    color: $primary-color;
                    content: counter(number-counter)'.';
                    left: -0.8em;
                    position: absolute;
                }
            }
        }
    }

    &__list-item {
        margin-bottom: 1em;
        position: relative;
    }
}