$layout: '.content';

#{$layout} {
    padding: 2em 0;

    &__container {
        margin: 0 auto;
        max-width: 890px;
    }

    &__entry-title {
        margin-bottom: 1rem;
    }

    &__head {
        color: $primary-color;
        margin-bottom: 1rem;

        &--3,
        &--4,
        &--5,
        &--6 {
            color: $gray-darker;
        }
    }
}