$layout: '.e404';

#{$layout} {
    &__breadcrumbs {
        padding: 0.5em 0;
    }

    &__title-content {
        font-size: 32px;
        margin-bottom: 1.5em;
        text-align: center;
    }

    &__posts-list {
        display: flex;
        list-style: none;
        margin: 0;
        margin-bottom: 4em;
        padding: 0;
    }

    &__posts-item {
        padding: 1em 0.5em;

        &:not(:last-child) {
            border-right: 1px solid $gray-light;
        }
    }

    &__posts-link {
        color: $black-color;
        font-size: 18px;
        font-weight: 600;
        transition: all 0.4s;

        &:hover,
        &:focus {
            color: $primary-color;
        }
    }
}