$layout: '.footer';

#{$layout} {
    background-color: $gray-darker;

    &__top {
        padding: 2.5em 0;
    }

    &__logo-link {
        display: block;

        @include mq($until: tablet) {
            margin-bottom: 2em;
            text-align: center;
        }
    }

    &__links-separator {
        border-bottom: 1px solid $black-color;
        display: block;
        margin-bottom: 1.5em;

        @include mq($until: tablet) {
            display: none;
        }
    }

    &__links-section-title {
        color: $white;
        font-size: 22px;
        margin-bottom: 1.5em;
        position: relative;

        @include mq($until: tablet) {
            margin-top: 1em;
        }

        &:before {
            background-color: $primary-color;
            bottom: -8px;
            content: '';
            height: 2px;
            left: 0;
            position: absolute;
            transition: background-color 0.4s;
            width: 13px;
        }

        &:after {
            background-color: $extra-color;
            bottom: -8px;
            content: '';
            height: 2px;
            left: 15px;
            position: absolute;
            transition: background-color 0.4s;
            width: 4px;
        }
    }

    &__links-menu {
        margin-bottom: 0.5em;

        @include mq($until: tablet) {
            padding-bottom: 1em;
        }
    }

    &__links-menu-title {
        color: $white;
        font-size: 19px;
        margin-bottom: 0.8em;
        outline: none;
        position: relative;

        &:focus,
        &:hover {
            outline: none;
        }

        @include mq($until: tablet) {
            border-bottom: 2px solid $black-color;
            cursor: pointer;
            margin-bottom: 0.5em;
            padding-bottom: 0.5em;
        }

        &:before {
            transition: all 0.4s;

            @include mq($until: tablet) {
                color: $primary-color;
                content: '+';
                font-size: 1.8em;
                font-weight: 200;
                position: absolute;
                right: 0;
                top: -0.25em;
            }
        }

        &.opened {
            &:before {
                @include mq($until: tablet) {
                    color: $white;
                    content: '–';
                }
            }
        }
    }

    &__links-menu-mask {
        @include mq($until: tablet) {
            height: 0;
            overflow: hidden;
        }
    }

    &__links-menu-item {
        list-style: none;
    }

    &__links-menu-link {
        color: $white;
        font-size: 18px;
        transition: all 0.4s;

        &:active {
            color: $white;
        }

        &:hover,
        &:focus {
            color: $primary-color;
        }
    }

    &__links-social-link {
        border: 1px solid $white;
        color: $white;
        display: block;
        font-size: 18px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        transition: all 0.4s;
        width: 36px;

        &:focus,
        &:hover {
            border: 1px solid $primary-color;
            color: $primary-color;
        }
    }

    &__links-subscribe-desc {
        color: $white;
    }

    &__links-subscribe-field {
        background: $extra-color;
        //background: -moz-linear-gradient(left, $extra-color 1%, $primary-color 100%);
        //background: -webkit-linear-gradient(left, $extra-color 1%,$primary-color 100%);
        background: linear-gradient(to right, $extra-color 1%, $primary-color 100%);
        display: flex;
        padding: 2px;
        transition: background 250ms linear;
        max-width: 432px;
        width: 100%;

        &:hover {
            background: linear-gradient(to right, $secondary-color 1%, $secondary-color 100%);
        }
    }

    &__links-subscribe-input {
        appearance: none;
        border: none;
        border-radius: 0;
        height: 40px;
        min-height: 40px;
        outline: none;
        padding: 0.5em;
        width: 100%;

        &::placeholder {
            color: $gray;
        }
    }

    &__links-subscribe-btn {
        appearance: none;
        background-color: $primary-color;
        border: 1px solid $white;
        border-radius: 0;
        color: $white;
        transition: all 0.4s;
        width: 108px;

        &:hover {
            background-color: $extra-color;
            cursor: pointer;
        }
    }

    &__bottom {
        background-color: $black-color;
    }

    &__bottom-text {
        color: $white;
        font-size: 14px;
        line-height: 40px;
        margin-bottom: 0;
        text-align: center;
    }
}