$layout: '.header';

#{$layout} {
    background-color: $gray-lighten;
    border-bottom: 1px solid $gray-light;
    height: 70px;

    &__nav {
        text-align: right;
    }

    &__nav-menu {
        margin-bottom: 0;
    }

    &__nav-item {
        height: 70px;
        line-height: 70px;
        margin-right: 0;
        position: relative;

        &:not(:first-child) {
            margin-left: 2.5em;
        }

        &:before {
            background-color: transparent;
            bottom: 20px;
            content: '';
            height: 2px;
            left: 0;
            position: absolute;
            transition: background-color 0.4s;
            width: 13px;
        }

        &:after {
            background-color: transparent;
            bottom: 20px;
            content: '';
            height: 2px;
            left: 15px;
            position: absolute;
            transition: background-color 0.4s;
            width: 4px;
        }

        &:hover {
            &:before {
                background-color: $primary-color;
            }

            &:after {
                background-color: $extra-color;
            }

            #{$layout}__nav-submenu {
                display: block;
            }
        }

        &--child {
            height: auto;
            line-height: normal;

            &:not(:first-child) {
                margin-left: 0;
            }

            &:not(:last-child) {
                margin-bottom: 0.5em;
            }

            &:before {
                display: none;
            }

            &:after {
                display: none;
            }
        }
    }

    &__nav-link {
        font-size: $link-size;
        font-weight: 500;
        text-transform: uppercase;

        &:hover,
        &:focus {
            text-decoration: none;
            
            #{$layout}__nav-link-arrow {
                transform: rotate(-135deg);
                transform-origin: center center;
            }
        }

        &--child {
            color: $gray-darker;
            font-size: $child-link-size;
            font-weight: 600;
            text-transform: unset;

            &:hover,
            &:focus {
                color: $primary-color;
            }
        }
    }

    &__nav-link-arrow {
        border: solid $primary-color;
        border-width: 0 2px 2px 0;
        display: inline-block;
        margin-top: 0.2em;
        margin-left: 1em;
        padding: 5px;
        transform: rotate(45deg);
        transition: all 0.4s;
        vertical-align: text-top;
    }

    &__nav-link-dash {
        color: $primary-color;
    }

    &__nav-submenu {
        background-color: $white;
        border: 1px solid $gray-light;
        border-radius: 5px;
        display: none;
        left: -127px;
        min-width: 255px;
        padding: 1em;
        position: absolute;
        text-align: left;
        top: 70px;
        width: 255px;
        z-index: 9;

        &:after {
            border-color: transparent transparent $white transparent;
            border-style: solid;
            border-width: 0 7.5px 14px 7.5px;
            content: '';
            height: 0;
            left: 152.5px;
            position: absolute;
            top: -14px;
            width: 0;
            z-index: 10;
        }

        &:before {
            border-color: transparent transparent $gray-light transparent;
            border-style: solid;
            border-width: 0 9px 16px 9px;
            content: '';
            height: 0;
            left: 152px;
            position: absolute;
            top: -16px;
            width: 0;
            z-index: 10;
        }
    }
}