$layout: '.mobile-menu';

#{$layout} {
    background-color: $secondary-color;
    height: calc(100vh - 70px);
    left: -370px;
    max-height: 100%;
    max-width: 370px;
    position: fixed;
    transform: translateZ(0);
    transition: all 0.4s;
    top: 70px;
    width: 100vw;
    z-index: 9;

    &--opened {
        left: 0;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0 0.2em;
    }

    &__item {
        border-bottom: 1px solid $extra-color2;
        cursor: pointer;
        overflow: hidden;
        padding: 1em 0;
        position: relative;

        &:before {
            background-color: $primary-color;
            top: 2.5em;
            content: '';
            height: 2px;
            left: 0;
            position: absolute;
            transition: background-color 0.4s;
            width: 13px;
            z-index: 10;
        }

        &:after {
            background-color: $extra-color;
            top: 2.5em;
            content: '';
            height: 2px;
            left: 15px;
            position: absolute;
            transition: background-color 0.4s;
            width: 4px;
            z-index: 10;
        }

        ul {
            list-style: none;
            margin: 0;
            margin-top: 1em;
            margin-bottom: 0;
            padding: 0 0 0 0.5em;
            width: 100%;

            &:before {
                color: $primary-color;
                content: '+';
                font-size: 2.5em;
                font-weight: 400;
                position: absolute;
                right: 0;
                text-align: center;
                transition: all 0.4s;
                top: 2px;
            }

            li {
                margin-bottom: 0.5em;
                position: relative;

                &:before {
                    color: $white;
                    content: '-';
                    left: -0.5em;
                    position: absolute;
                }

                a{
                    color: $white;
                    font-size: 18px;

                    &:focus,
                    &:active,
                    &:hover {
                        color: $white;
                        text-decoration: none;
                    }
                }
            }
        }
        
        &--opened {
            ul:before {
                color: $white;
                content: '–';
            }
        }
    }

    &__link {
        color: $white;
        font-size: 19px;

        &:focus,
        &:active,
        &:hover {
            color: $white;
            text-decoration: none;
        }
    }
}