$layout: '.sidebar';

#{$layout} {

    @include mq($until: mobile) {
        margin-top: -2em;
    }

    &__mobile-trigger {
        background-color: $secondary-color;
        border: none;
        color: $white;
        cursor: pointer;
        font-size: 22px;
        height: 50px;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 1em;
        outline: none;
        padding: 0 15px;
        position: relative;
        transition: all 0.4s;
        text-align: left;
        width: 100vw;

        &:focus {
            outline: none;
        }

        @include mq($from: mobile) {
            display: none;
        }

        &:before {
            color: $white;
            content: '+';
            font-size: 1.8em;
            font-weight: 200;
            position: absolute;
            right: 0.5em;
            top: -0.1em;
        }

        &.opened {
            background-color: $primary-color;

            &::before {
                content: '–';
            }
        }
    }

    &__mobile-mask {
        @include mq($until: mobile) {
            height: 0;
            overflow: hidden;
        }
    }

    &__topics {
        margin-bottom: 2em;
    }

    &__topics-title {
        color: $secondary-color;
        font-size: 32px;
        margin-bottom: 0.5em;
        position: relative;

        &:before {
            background-color: $primary-color;
            bottom: -5px;
            content: '';
            height: 2px;
            left: 0;
            position: absolute;
            transition: background-color 0.4s;
            width: 13px;
        }

        &:after {
            background-color: $extra-color;
            bottom: -5px;
            content: '';
            height: 2px;
            left: 15px;
            position: absolute;
            transition: background-color 0.4s;
            width: 4px;
        }
    }

    &__topics-item {
        border-bottom: 1px solid $gray-light;
        padding: 0.5em 0;
    }

    &__topics-link {
        color: $black-color;
        font-size: 19px;
        font-weight: 500;
        transition: all 0.4s;

        &:hover,
        &:focus {
            color: $primary-color;
        }
    }

    &__must-see {
        margin-bottom: 2em;
    }

    &__must-see-title {
        color: $primary-color;
        font-size: 32px;
        margin-bottom: 0.5em;
        text-align: center;

        span {
            color: $secondary-color;
        }
    }

    &__must-see-separator {
        margin-bottom: 1em;
        text-align: center;
    }

    &__must-see-item {
        border-bottom: 1px solid $gray-light;
        padding: 0.5em 0;
    }

    &__must-see-link {
        color: $black-color;
        font-size: 19px;
        font-weight: 500;
        transition: all 0.4s;

        &:hover,
        &:focus {
            color: $primary-color;
        }
    }
}